 
<h2>Movies Page loaded from external file..</h2>  
<div data-bind="foreach: videoList" class="flip-container">
 <div class="solid-container" data-bind="event: {mouseenter: function(){$parent.flipIt($index())}, mouseleave: function(){$parent.flipIt($index())}}">
     
 
  <div class="video-tile-container" data-bind="css: { flipped: $parent.videoList()[$index()].selected() }">
       <!--front content-->
       <div class="face video-tile-front" data-bind="style: { backgroundImage: 'url(\'' + img + '\')'}, visible: $parent.videoList()[$index()].selected() === false">
       </div>
       <!--back content-->
       <div class="face video-tile-back" data-bind=" visible: $parent.videoList()[$index()].selected() === true">
           <div class="card-title">
               <p data-bind="text: $parent.videoList()[$index()].title"></p>
           </div>
           <div class="card-details">
               <p >Details about this movies go here, plot, sdf sdfg fghy sdrte werfg dgh dfgs sdfds fdg </p> 
           </div>
           <div class="card-play-btn">
               <!--<a data-bind="click: function(){$root.goToVideo($index())}" class="btn">Watch Button </a>-->
               
               <!--<a href="#!/selectedMovie?movieID=90" class="btn">Watch Button </a>-->
               
               <!--<a class="btn" data-bind="attr: { href: '#!/selectedMovie?movieID='+id}">
                    Open Video
               </a>-->
               
               <!--<a class="btn" data-bind="attr: { href: '#!/selectedMovie?movieObj='+$parent.videoList()[$index()]}">
                    Open Video
               </a>-->
               
               <a class="btn" data-bind="click: function(){$parent.setMovie(id)}, href: '../selectedMovie' ">
                    Play Video
               </a>
               
               <!--<a class="btn" data-bind="click: function(){$parent.setMovie($index())}, page-href: {path: '../selectedMovie', params: {movieObj: $parent.videoList()[$index()].title }}">
                    Open Video
               </a>-->
               
               
               <!--<a   , click: function(){$root.goToVideo(id)}     data-bind="page: {id: '?', sourceOnShow: 'video/{1}.html'}" class="btn">Watch Button </a>-->
           </div>
       </div>
  </div>
 </div>  
   
   
   <!--<a data-bind="text: 'PLAY', click: $root.goToMovie"></a>--> 
   
</div>

<!--<div data-bind="page: {
                  id: 'Movie',
                  sourceOnShow: '/views/movie_template.html'}">
</div>-->

<a class="btn" href="#!/Movies/fry">Show Background Img</a>
    <div data-bind="page: {id: 'fry', beforeHide: beforeFryIsHidden, afterShow: afterFryIsDisplayed}">
        Fry
        <a class="btn" href="#!/Movies">Hide Background Img</a>
</div>