<div class="img-banner" >
    <!--<img data-bind="attr: { src: '/videos/movie2banner.jpg'}" alt="#" />-->
    <img data-bind="attr: { src: $root.selectedMovie().banner}" alt="#" />
</div>
<!--<div class="img-banner" >
    backgroundImage: 'url(\'' + img + '\')'
    <img data-bind="style: { backgroundImage: 'url(\'' + img + '\')'}}" alt="#" />
</div-->


<!--<h2 data-bind="text: $root.selectedMovie().banner"></h2>   -->  
  
<h2 data-bind="text: $root.selectedMovie().title"></h2> 

<h4 data-bind="text: $root.selectedMovie().description"></h4>

<!--
Title from Object:
<h5 data-bind="text: movieObj.title"></h5>-->

<div class="video-container">
   <video class="video-js" controls style="width:75%">
        <source src="/videos/trailer2.mp4"  type="video/mp4">
   </video>
</div>


<!--<div>
    Playing this video??
    <video-player params="value: $root.selectedMovie().video"></video-player>
</div>-->
<!--img path <span data-bind="text: img"> </span>:
<p>Title: <span data-bind="text: title"></span></p>-->


<!--<a class="btn" href="#!/Movies/fry">Show Background Img</a>
    <div data-bind="page: {id: 'fry', beforeHide: beforeFryIsHidden, afterShow: afterFryIsDisplayed}">
        Fry
        <a class="btn" href="#!/Movies">Hide Background Img</a>
</div>-->