 
<h2>This Movie Page **** Loaded from external file</h2>  

<h4 data-bind="text: title"></h4> 

<h5 data-bind="text: description"></h5>

<div>
   <p>Only see this when visible expression is true</p>
   <video class="video-js" controls style="width:75%">
        <source src="/videos/trailer2.mp4"  type="video/mp4">
   </video>
</div>
<!--img path <span data-bind="text: img"> </span>:
<p>Title: <span data-bind="text: title"></span></p>-->


<!--<a class="btn" href="#!/Movies/fry">Show Background Img</a>
    <div data-bind="page: {id: 'fry', beforeHide: beforeFryIsHidden, afterShow: afterFryIsDisplayed}">
        Fry
        <a class="btn" href="#!/Movies">Hide Background Img</a>
</div>-->